/*Teachers - have your students add their CSS here!*/

#rosa-parks {
  background-color: gray;
  color: white;
  font-family: cursive;
}

#rosa-photo {
  border: 5px solid lightpink;
}

#sonia-sotomayor {
  border: 10px solid turquoise;
  text-align: center;
  font-family: monospace;
  padding: 0 30%;
}

#sonia-sotomayor .brave-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wisdom-cannon {
  background-color: purple;
  color: white;
}

#bernetta{ 
  background-color: orange ;
 color:white;
}

#steve {
 border: 10px solid turquoise;
  text-align: center;
  font-family: impact;
  padding: 0 30%;
}

#amy {
  border: 15px solid #C10F0F;
  font-family: impact;
}

#netta {
border: 15px solid #0FB2C1;  
}

#disha-gulati{
  font-size: 50px;
}

#devin-pickell {
  font-family: "Arial Black", Gadget, sans-serif;
}

